* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 1.8em;
    margin: 0;
    padding-top: 110px;
}

p {
    line-height: 1.7;
    opacity: 0.8;
}

h3 {
    font-weight: normal;
}

/*nav section*/

.flex {
    display: flex;
    align-items: center;
}

nav {
    padding-left: 50px;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 5px;
}

.vertical-line {
    height: 40px;
    margin-left: 25px;
    border-left: 1px solid black;
}

/*header section*/

.flex-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-1>div {
    flex: 1;
}

ul li {
    margin-left: -18px;
    margin-bottom: 10px;
}

header p {
    font-size: 0.48em;
}

input {
    border: 1px solid darkgrey;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 10px;
    padding-right: 100px;
    margin-top: 20px;
}

input::placeholder {
    color: gray;
    font-size: 75%;
}

.btn {
    border: 1px solid hsl(204, 93%, 58%);
    background-color: hsl(204, 93%, 58%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

header {
    background-color: rgb(255, 255, 153);
    padding: 15px;
    width: 100%;
    position: relative;
}

.container {
    padding: 0 20px;
    margin-left: 190px;
    max-width: 100%;
    width: 500px;
    margin-bottom: 70px;
}

.main {
    width: 550px;
    position: absolute;
    right: 100px;
    bottom: 150px;
}

header * {
    z-index: 2;
}

header::after {
    content: '';
    background: url('./images/oval.png') no-repeat bottom right;
    background-size: 58%;
    position: absolute;
    top: 0;
    right: 45px;
    height: 100%;
    width: 55%;
    z-index: 1;
}

/*section part*/

.section-heading {
    position: relative;
    text-align: center;
    font-weight: normal;
}

.flex-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 65%;
}

.item-1 {
    align-self: flex-end;
}


/*media query*/
@media screen and (max-width: 375px) {

    nav {
        display: none;
    }

    .main {
        display: none;
    }

    .container {
        margin: 0;
        padding-bottom: 100px;
    }

    header {
        background: url('./images/oval-1.png') no-repeat bottom right;
        background-size: 80%;
        z-index: 1;
    }

    header {
        z-index: 0;
        background-color: rgb(255, 255, 153);
    }

    header::after {
        display: none;
    }

    .flex-2 {
        display: flex;
        flex-direction: column;
    }

    .item-1 {
        order: 2;
        align-self: center;
        text-align: center;
    }

    .item-2 {
        text-align: center;
        order: 1;
    }

    .item-2 p {
        margin: 30px;
    }
}
